.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.cardsContainer p {
  text-align: center;
}

.card {
  border: 1px solid var(--secondary-color);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.4rem;
  width: 100%;
  text-decoration: none;
}

.scheduleDate,
.scheduleService {
  text-align: center;
}
