.header {
  align-items: center;
  padding: 4rem 4rem 2rem 4rem;
  border-bottom: 1px solid var(--secondary-color);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.title,
.subtitle {
  font-family: var(--cursive-font);
}
