.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 0.8rem;
}

.form button {
  margin-bottom: 0.8rem;

  padding: 0.8rem;
  border-radius: 0.8rem;
}

.cookiesInfo {
  margin-top: 1.6rem;
  font-size: 1.2rem;
}

.registerInfo,
.cookiesInfo {
  text-align: center;
}
