@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

:root {
  font-size: 62.5%; /* 10px */

  --cursive-font: "Dancing Script", cursive;
  --primary-color: #c8b961;
  --secondary-color: #475e7a;
  --neutral-color-100: #1b1b1b;
  --neutral-color-900: #e3e3e3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding: 4rem;
}

html,
body {
  font-size: 1.6rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
}

button,
select {
  cursor: pointer;
  font: inherit;
  border-radius: 0.4rem;
}

input {
  font: inherit;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid var(--secondary-color);
}

input:focus {
  border: 2px solid var(--secondary-color);
  outline: 0;
  color: var(--secondary-color);
}

label {
  font-size: 2rem;
}

button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  padding: 0.8rem;
  font-size: 1.6rem;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.9;
}

@media (min-width: 768px) {
  main {
    min-height: 90vh;
    padding: 4rem 8rem;
  }
}
