.main {
  padding: 4rem;

  /* border: 1px solid red; */

  display: grid;
  gap: 1.6rem;
  grid-template-areas:
    "title"
    "aboutContainer"
    "loginContainer";
}

.title {
  grid-area: title;
  text-align: center;
  /* border: 1px solid red; */
}

.aboutContainer,
.loginContainer {
  padding-inline: 4rem;
}

.aboutContainer {
  grid-area: aboutContainer;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  /* justify-content: space-around; */
  align-items: center;
}

.aboutContainer img {
  width: 300px;
  max-height: 300px;
}

.aboutContainer p {
  text-align: center;
}

.loginContainer {
  grid-area: loginContainer;
  /* border: 1px solid red; */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 0.8rem;
}

.form button {
  margin-bottom: 0.8rem;

  padding: 0.8rem;
  border-radius: 0.8rem;
}

.loginContainer p {
  text-align: center;
}

.info {
  margin-top: 1.6rem;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .main {
    min-height: 90vh;

    display: grid;
    gap: 4rem 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "title title"
      "aboutContainer loginContainer";
  }
}
