.main {
  display: grid;
  gap: 1.6rem;
  grid-template-areas:
    "title"
    "aboutContainer"
    "loginContainer";
}

.title {
  font-family: var(--cursive-font);
  font-size: 4.8rem;
  font-weight: bold;
  grid-area: title;
  text-align: center;
}

.aboutContainer,
.loginContainer {
  padding-inline: 0;
}

.aboutContainer {
  grid-area: aboutContainer;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.loginContainer {
  grid-area: loginContainer;
  /* border: 1px solid red; */
}

@media (min-width: 768px) {
  .main {
    display: grid;
    gap: 4rem 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "title title"
      "aboutContainer loginContainer";
  }

  .aboutContainer,
  .loginContainer {
    padding-inline: 4rem;
  }
}
